NEXT_PUBLIC_APP_NAME=Web app starter
NEXT_PUBLIC_API_URL=http://localhost:3001/api
NEXT_PUBLIC_MUNICIPALITY_ID=2281
DOMAIN_NAME=localhost
BASE_PATH='/ft'
NEXT_PUBLIC_BASE_PATH='/ft'
ADMIN_URL=http://localhost:3002/
NEXT_PUBLIC_PROTECTED_ROUTES=""
HEALTH_AUTH=false
HEALTH_USERNAME=''
HEALTH_PASSWORD=''
