NEXT_PUBLIC_ENVIRONMENT=TEST
NEXT_PUBLIC_APP_NAME=Färdtjänstregistrering
NEXT_PUBLIC_API_URL=http://localhost:3001/api
NEXT_PUBLIC_MUNICIPALITY_ID=2281
DOMAIN_NAME=localhost
BASE_PATH='/fardtjanstregistrering'
NEXT_PUBLIC_BASE_PATH='/fardtjanstregistrering'
NEXT_PUBLIC_PROTECTED_ROUTES=""
HEALTH_AUTH=false
HEALTH_USERNAME=''
HEALTH_PASSWORD=''
